/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php

.env
/.vagrant
.phpunit.result.cache
.idea

package-old.json
package-lock.json
package-mix.json
mix.ts.js
mix-manifest.json